#warningGradientOuterBarG{
    height:33px;
    width:260px;
    border:2px solid rgba(55,133,16,0.98);
    overflow:hidden;
    background-color:rgb(0,0,0);
    margin:auto;
    background: gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(44,130,2)));
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(44,130,2)));
    background: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(44,130,2)));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(44,130,2)));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(44,130,2)));
    background: linear-gradient(top, rgb(255,255,255), rgb(46,117,11));
    background: -o-linear-gradient(top, rgb(255,255,255), rgb(46,117,11));
    background: -ms-linear-gradient(top, rgb(255,255,255), rgb(46,117,11));
    background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(46,117,11));
    background: -moz-linear-gradient(top, rgb(255,255,255), rgb(46,117,11));
}

.warningGradientBarLineG{
    background-color:rgb(255,255,255);
    float:left;
    width:23px;
    height:195px;
    margin-right:39px;
    margin-top:-46px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

.warningGradientAnimationG{
    width:384px;
    animation-name:warningGradientAnimationG;
    -o-animation-name:warningGradientAnimationG;
    -ms-animation-name:warningGradientAnimationG;
    -webkit-animation-name:warningGradientAnimationG;
    -moz-animation-name:warningGradientAnimationG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
}



@keyframes warningGradientAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }
}

@-o-keyframes warningGradientAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }
}

@-ms-keyframes warningGradientAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }
}

@-webkit-keyframes warningGradientAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }
}

@-moz-keyframes warningGradientAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }
}